*{
    text-align: center;
    background-color: rgb(158, 229, 205);
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: 50px;
    font-weight: bold;
}